<!DOCTYPE html>
<html lang="en">


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Essence of Heaven</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/bf6dfabe-7912-4157-a730-fdd9ec06bc0e.jpg">
    <link rel="icon" type="/image/png" sizes="32x32" href="/assets/images/icons/bf6dfabe-7912-4157-a730-fdd9ec06bc0e.jpg">
    <link rel="icon" type="/image/png" sizes="16x16" href="/assets/images/icons/bf6dfabe-7912-4157-a730-fdd9ec06bc0e.jpg">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/bf6dfabe-7912-4157-a730-fdd9ec06bc0e.jpg">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<style>
    /* Coupon Section Styling */
.apply-coupon {
    margin-top: 20px;
}

.apply-coupon .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apply-coupon input {
    width: 70%;
    margin-right: 10px;
}

.apply-coupon button {
    width: 25%;
}

#couponMessage {
    font-size: 0.9em;
    color: #28a745;
}

</style>
<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header">
                            <a href="#"></a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header">
                            <a href="#"></a>
                            <div class="header-menu">
                               
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="sf-with-ul">Home</a>
                                </li>
                                <li>
                                    <a href="/shop" class="sf-with-ul">Shop</a>
                                </li>
                                <li>
                                    <a href="product.html" class="sf-with-ul">Product</a>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>
                                </li>
                                <li>
                                    <a href="blog.html" class="sf-with-ul">Blog</a>
                                </li>
                                <li>
                                    <a href="elements-list.html" class="sf-with-ul">Elements</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="compare-products">
                                    
                                </ul>

                                <div class="compare-actions">
                                    <a href="#" class="action-link">Clear All</a>
                                    <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i class="icon-long-arrow-right"></i></a>
                                </div>
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/cart">cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="page-content">
                            <div class="checkout">
                                <div class="container">
                                    <div class="row"> 
                                        <div class="col-lg-9">
                                            <h2 class="checkout-title">Billing Details</h2>
                                            <form id="billingForm" action="/addaddress" method="POST">
                                                <input type="hidden" name="userId" value="<%= user._id %>">
                                                <input type="hidden" name="addressId" value="<%= selectedAddressId || '' %>">
                                                <input type="hidden" name="totalPrice" value="<%= cart.totalPrice %>">
                                                <input type="hidden" name="finalPrice" value="<%= finalPrice %>">
                                                <input type="hidden" name="ordereditems" value='<%= JSON.stringify(cart.items) %>'>
                                        
                                                <!-- Address Selection -->
                                                <div class="checkout-address-selection">
                                                    <h4>Select a Saved Address</h4>
                                                    <% if (addresses && addresses.length > 0) { %>
                                                        <div class="form-group">
                                                            <select id="addressSelect" name="addressId" class="form-control" onchange="updateAddressDetails(this)">
                                                                <option value="">Select Address</option>
                                                                <% addresses.forEach(address => { %>
                                                                    <% if (address.address && address.address.length > 0) { %>
                                                                        <option value="<%= address._id %>">
                                                                            <%= address.address[0].name %> - <%= address.address[0].city %>, <%= address.address[0].state %> (<%= address.address[0].pincode %>)
                                                                        </option>
                                                                    <% } else { %>
                                                                        <option disabled>No address details available</option>
                                                                    <% } %>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                        
                                                        
                                        
                                                    <% } else { %>
                                                        <p>No saved addresses found. Please add a new address.</p>
                                                    <% } %>
                                                </div>
                                                <div id="addressActions" class="mt-3" style="display: none;">
                                                    <a href="/addresses"><button class="btn btn-outline-danger" type="button" id="deleteButton">Edit</button></a>
                                                </div>
                                        
                                                <!-- <div class="mt-3">
                                                    <a href="/addaddress">
                                                        <button class="btn btn-outline-primary" id="editButton">Add</button>
                                                    </a>
                                                </div> -->
                                        
                                                <h4 class="checkout-title">Or Enter a New Address</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label for="name">Name *</label>
                                                        <input type="text" id="name" name="name" class="form-control">
                                                        <span class="error-message" id="nameError"></span>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="phone">Phone *</label>
                                                        <input type="tel" id="phone" name="phone" class="form-control">
                                                        <span class="error-message" id="phoneError"></span>
                                                    </div>
                                                </div>
                                        
                                                <label for="state">State *</label>
                                                <input type="text" id="state" name="state" class="form-control">
                                                <span class="error-message" id="stateError"></span>
                                        
                                                <label for="city">City *</label>
                                                <input type="text" id="city" name="city" class="form-control">
                                                <span class="error-message" id="cityError"></span>
                                        
                                                <label for="landMark">Landmark *</label>
                                                <input type="text" id="landMark" name="landMark" class="form-control">
                                                <span class="error-message" id="landMarkError"></span>
                                        
                                                <label for="pincode">Postcode / ZIP *</label>
                                                <input type="text" id="pincode" name="pincode" class="form-control">
                                                <span class="error-message" id="pincodeError"></span>
                                        
                                                <button type="button" class="btn btn-primary" onclick="validateForm()">Submit</button>
                                            </form>
                                        </div>
                                        
                                        <div class="col-lg-3"> <div class="summary">
                                                <h3 class="summary-title">Your Order</h3>
                                                <table class="table table-summary">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <!-- Hidden Inputs for Total Price Tracking -->
<input type="hidden" id="originalTotalPrice" value="<%= cart && cart.totalPrice ? cart.totalPrice.toFixed(2) : '0.00' %>" />
<input type="hidden" name="finalPrice" value="<%= cart && cart.totalPrice ? cart.totalPrice.toFixed(2) : '0.00' %>" />

                                                    <tbody>
                                                        <% if (cart && cart.items && cart.items.length > 0) { %>
                                                            <% cart.items.forEach(item => { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= item.productId ? item.productId.name : 'Unknown Product' %>
                                                                        <% if (item.variantId && item.productId.variants) { %>
                                                                            <br><small>Variant: <%= item.productId.variants.id(item.variantId).name %></small>
                                                                        <% } %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (item.offerPrice) { %>
                                                                            <!-- Show offer price if available -->
                                                                            <span class="new-price">
                                                                                ₹<%= (item.offerPrice * item.quantity).toFixed(2) %>
                                                                            </span>
                                                                            <span class="old-price">
                                                                                ₹<%= (item.productId.price * item.quantity).toFixed(2) %>
                                                                            </span>
                                                                        <% } else { %>
                                                                            <!-- Otherwise, show regular price -->
                                                                            ₹<%= (item.variantId ? item.productId.variants.id(item.variantId).price : item.productId.price) * item.quantity %>
                                                                        <% } %>
                                                                    </td>
                                                                </tr>
                                                            <% }) %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="2">No items in cart</td>
                                                            </tr>
                                                        <% } %>
                                                        <tr class="summary-total">
                                                            <td>Total:</td>
                                                            <td id="totalPrice">
                                                                ₹<%= cart && cart.totalPrice ? cart.totalPrice.toFixed(2) : '0.00' %>
                                                            </td>
                                                        </tr>
                                                        <tr>
    <td colspan="2" class="apply-coupon">
        <input type="text" id="couponCode" placeholder="Enter coupon code" class="form-control" />
        <button type="button" class="btn btn-outline-primary mt-2" id="couponButton" onclick="applyCoupon()">Apply Coupon</button>
        <div id="couponMessage" class="mt-2 text-success"></div>
    </td>
</tr>

                                                        <tr>
                                                            <td colspan="2">
                                                                <h5>Available Coupons:</h5>
                                                                <% if (coupons && coupons.length > 0) { %>
                                                                    <ul class="list-group">
                                                                        <% coupons.forEach(coupon => { %>
                                                                            <li class="list-group-item">
                                                                                <strong><%= coupon.code %></strong> - Save <%= coupon.discountValue %>% off
                                                                            </li>
                                                                        <% }) %>
                                                                    </ul>
                                                                <% } else { %>
                                                                    <p>No active coupons available at the moment.</p>
                                                                <% } %>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    
                                                </table>
                        
                        
                                                <!-- Payment Method Selection inside the summary -->
                                                <div class="payment-methods mt-3">
                                                    <label class="d-block">
                                                        <input type="radio" name="paymentMethod" value="cod" required> Cash on Delivery (COD)
                                                    </label>
                                                    <label class="d-block">
                                                        <input type="radio" name="paymentMethod" value="razorpay" required> Razorpay
                                                    </label>
                                                    <label class="d-block">
                                                        <input type="radio" name="paymentMethod" value="wallet" required> Wallet
                                                    </label>
                                                </div>
                        
                                                <!-- Place Order Button -->
                                                <div class="checkout-btn-container mt-4">
                                                    <button type="button" class="btn btn-outline-primary-2 btn-order btn-block"
                                                        onclick="proceedToPayment()">
                                                        <span class="btn-text">Place Order</span>
                                                        <span class="btn-hover-text">Proceed to Checkout</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!-- de>End .col-lg-3 -->
                    </div>
                </div><!-- End .row -->
            </div><!-- End .container -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/assets/images/icons/bf6dfabe-7912-4157-a730-fdd9ec06bc0e.jpg" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </div><!-- End .checkout --> 
    </footer><!-- End .footer -->
    
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addressSelect = document.getElementById('addressSelect');
            const addressActions = document.getElementById('addressActions');
    
            // Show or hide action buttons based on selection
            addressSelect.addEventListener('change', function () {
                const selectedAddressId = this.value;
                if (selectedAddressId) {
                    addressActions.style.display = 'block';
                    document.getElementById('editButton').setAttribute('data-id', selectedAddressId);
                    document.getElementById('deleteButton').setAttribute('data-id', selectedAddressId);
                } else {
                    addressActions.style.display = 'none';
                }
            });
        });
    </script>


<script>
    async function proceedToPayment() {
        console.log('Proceeding to payment');

        const addressSelect = document.querySelector('#addressSelect');
        const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
        console.log('Selected payment method:', selectedPaymentMethod);

        const userId = document.querySelector('input[name="userId"]').value;
        const addressId = addressSelect ? addressSelect.value : '';
        const totalPrice = parseFloat(document.querySelector('input[name="totalPrice"]').value);
        const finalPrice = parseFloat(document.querySelector('input[name="finalPrice"]').value);
        const ordereditems = document.querySelector('input[name="ordereditems"]').value;

        // Check if addresses are available
        const addressOptions = addressSelect ? addressSelect.options.length : 0;
        console.log('Available address options:', addressOptions);

        // If no address is available, show an alert to add an address
        if (!addressId && addressOptions <= 1) { // First option is usually "Select Address"
            Swal.fire({
                icon: 'warning',
                title: 'No Address Found',
                text: 'No address available. Please add an address before proceeding.',
            });
            return;
        }

        // Proceed to validate the selected address
        if (!addressId) {
            Swal.fire({
                icon: 'warning',
                title: 'Address Selection Required',
                text: 'Please select an address before proceeding to payment.',
            });
            return;
        }

        const orderData = {
            userId,
            selectedAddressId: addressId,
            amount: totalPrice,
            finalPrice,
            ordereditems,
            paymentMethod: selectedPaymentMethod
        };
        console.log(orderData, 'order data');

        if (selectedPaymentMethod === 'cod') {
            console.log('Normal request for an order');
            await placeorder(orderData);
        } else if (selectedPaymentMethod === 'razorpay') {
    console.log('Proceeding with Razorpay');
    try {
        const response = await fetch('/order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                paymentMethod: "razorpay",
                selectedAddressId: addressId,
                finalPrice: finalPrice,
            })
        });

        const order = await response.json();
        console.log(order, 'razorpay order');

        if (response.ok) {
            const options = {
                key: "rzp_test_l1wDTzBK3cxTc4",
                amount: order.data.razorpayOrder.amount,
                currency: "INR",
                order_id: order.data.razorpayOrder.id,
                handler: async function (response) {
                    console.log('Payment success response:', response);
                    const verificationResponse = await fetch('/verify-payment', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            razorpay_order_id: response.razorpay_order_id,
                            razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_signature: response.razorpay_signature
                        })
                    });

                    const res = await verificationResponse.json();
                    console.log(res, 'Payment verification result');

                    if (res.success) {
                        window.location.href = `/orderSuccess/${res.orderID}`; 
                    } else {
                        alert('Payment verification failed.');
                    }
                },
                theme: {
                    color: "#3399cc"
                }
            };

            const rzp = new Razorpay(options);

            // Handling payment failure
            rzp.on('payment.failed', function (response) {
                console.log('failed payment razor[ay worked]')
                console.log('Payment failed:', response);
                
                fetch("/verify-payment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        orderData: order,
                        payment_id: response.error.metadata.payment_id,
                        order_id: response.error.metadata.order_id,
                        signature: response.error.metadata.signature
                    }),
                })
                .then(res => res.json())
                .then(failedData => {
                    console.log('Payment failed, got response:', failedData);
                    console.log('Redirecting to order details...');
                    Swal.fire({
                        icon: 'warning',
                        title: 'Payment Failed',
                        text: 'The payment was not completed. Redirecting to order details...',
                        confirmButtonText: 'OK',
                        timer: 3000,
                        willClose: () => {
                            if (failedData.response) {
                                console.log('Redirecting to', failedData.response);
                                window.location = failedData.response; 
                            } else {
                                console.log('No URL provided, redirecting to home');
                                window.location = "/";  // Fallback in case no URL provided
                            }
                        }
                    });
                })
                .catch(err => {
                    console.error('Failed payment error handling:', err);
                    alert('An error occurred while handling the failed payment.');
                });
            });

            rzp.open();
        } else {
            if (response.status === 429 || order.message === "An order is already being processed. Please wait.") {
        Swal.fire({
            icon: 'warning',
            title: 'Order Already In Progress',
            text: order.message || 'An order is already being processed. Please wait.',
        });
        return;
    }

    Swal.fire({
        icon: 'error',
        title: 'Order Failed',
        text: order.message || 'An error occurred while placing the order.',
    });
        }
    } catch (err) {
        console.error('Error:', err);
        if (response.status === 429 || order.message === "An order is already being processed. Please wait.") {
        Swal.fire({
            icon: 'warning',
            title: 'Order Already In Progress',
            text: order.message || 'An order is already being processed. Please wait.',
        });
        return;
    }

    Swal.fire({
        icon: 'error',
        title: 'Order Failed',
        text: order.message || 'An error occurred while placing the order.',
    });
        // alert('An error occurred while placing the order. Please try again later.');
    }
}
 else if (selectedPaymentMethod === 'wallet') {
            console.log('Wallet request for an order');
            await placeorder(orderData);
        }
    }

    async function placeorder(orderData) {
        const response = await fetch('/order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(orderData)
        });

        const data = await response.json();

    if (!data.success) {
        // Check for specific error messages and show them in SweetAlert
        if (data.message === 'Insufficient wallet balance.') {
            Swal.fire({
                icon: 'error',
                title: 'Payment Failed',
                text: data.message, // Show the error message from the server
            });
        } else {
            // Handle other error messages
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: data.message,
            });
        }
    } else {
        window.location.href = `/orderSuccess/${data.orderId}`;
    }
    }
</script>





<script>
    let couponApplied = false;
    let appliedCouponCode = ''; // track which coupon was applied

    async function applyCoupon() {
        if (couponApplied) {
            removeCoupon();
            return;
        }

        const couponCode = document.getElementById('couponCode').value.trim();
        if (!couponCode) {
            document.getElementById('couponMessage').innerText = "Please enter a coupon code.";
            return;
        }

        const totalPriceElement = document.getElementById('totalPrice').innerText;
        const totalAmount = parseFloat(totalPriceElement.replace('₹', '').replace(/,/g, ''));

        const response = await fetch('/apply-coupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ couponCode, totalAmount })
        });

        const result = await response.json();
        const couponMessage = document.getElementById('couponMessage');

        if (result.success) {
            document.getElementById('totalPrice').innerText = `₹${result.newTotal.toFixed(2)}`;
            document.querySelector('input[name="finalPrice"]').value = result.newTotal.toFixed(2);
            couponMessage.innerText = `Coupon applied! Discount: ₹${result.discountAmount.toFixed(2)}.`;

            // Update button appearance and state
            couponApplied = true;
            appliedCouponCode = couponCode;

            const couponBtn = document.getElementById('couponButton');
            couponBtn.innerText = "Remove Coupon";
            couponBtn.classList.remove("btn-outline-primary");
            couponBtn.classList.add("btn-danger");
        } else {
            couponMessage.innerText = result.message;
        }
    }

    async function removeCoupon() {
    const originalTotal = parseFloat(document.getElementById('originalTotalPrice').value);
    document.getElementById('totalPrice').innerText = `₹${originalTotal.toFixed(2)}`;
    document.querySelector('input[name="finalPrice"]').value = originalTotal.toFixed(2);

    document.getElementById('couponMessage').innerText = 'Coupon removed.';
    document.getElementById('couponCode').value = '';

    // Reset UI button
    couponApplied = false;
    appliedCouponCode = '';

    const couponBtn = document.getElementById('couponButton');
    couponBtn.innerText = "Apply Coupon";
    couponBtn.classList.remove("btn-danger");
    couponBtn.classList.add("btn-outline-primary");

    await fetch('/remove-coupon', {
        method: 'POST'
    });
}

</script>


<script>
    function validateForm() {
        // Clear previous error messages
        document.querySelectorAll('.error-message').forEach(msg => msg.innerText = "");

        let isValid = true;

        const name = document.getElementById('name').value;
        const phone = document.getElementById('phone').value;
        const state = document.getElementById('state').value;
        const city = document.getElementById('city').value;
        const landMark = document.getElementById('landMark').value;
        const pincode = document.getElementById('pincode').value;

        // Validation for leading/trailing spaces
        if (name.trim() !== name || name === "") {
            document.getElementById('nameError').innerText = "Name cannot have leading or trailing spaces and cannot be empty.";
            isValid = false;
        } else if (!/^[A-Za-z\s]{3,50}$/.test(name)) {
            document.getElementById('nameError').innerText = "Name must be 3-50 characters long and contain only letters.";
            isValid = false;
        }

        if (phone.trim() !== phone || phone === "") {
            document.getElementById('phoneError').innerText = "Phone cannot have leading or trailing spaces and cannot be empty.";
            isValid = false;
        } else if (!/^\d{10}$/.test(phone)) {
            document.getElementById('phoneError').innerText = "Phone number must be exactly 10 digits.";
            isValid = false;
        }

        if (state.trim() !== state || state === "") {
            document.getElementById('stateError').innerText = "State cannot have leading or trailing spaces and cannot be empty.";
            isValid = false;
        } else if (!/^[A-Za-z\s]{2,50}$/.test(state)) {
            document.getElementById('stateError').innerText = "State must be 2-50 characters long and contain only letters.";
            isValid = false;
        }

        if (city.trim() !== city || city === "") {
            document.getElementById('cityError').innerText = "City cannot have leading or trailing spaces and cannot be empty.";
            isValid = false;
        } else if (!/^[A-Za-z\s]{2,50}$/.test(city)) {
            document.getElementById('cityError').innerText = "City must be 2-50 characters long and contain only letters.";
            isValid = false;
        }

        if (landMark.trim() !== landMark || landMark === "") {
            document.getElementById('landMarkError').innerText = "Landmark cannot have leading or trailing spaces and cannot be empty.";
            isValid = false;
        } else if (landMark.length < 3 || landMark.length > 100) {
            document.getElementById('landMarkError').innerText = "Landmark must be between 3-100 characters.";
            isValid = false;
        }

        if (pincode.trim() !== pincode || pincode === "") {
            document.getElementById('pincodeError').innerText = "Postcode cannot have leading or trailing spaces and cannot be empty.";
            isValid = false;
        } else if (!/^\d{5}(-\d{4})?$/.test(pincode)) {
            document.getElementById('pincodeError').innerText = "Postcode/ZIP must be 5 digits, optionally followed by a dash and 4 more digits.";
            isValid = false;
        }

        // If the form is valid, submit it
        if (isValid) {
            document.getElementById('billingForm').submit();
        }
    }
</script>


</body>

</html>